body{
  background-color: #78b1eb;
  font-family: arial;
}
a{
  text-decoration: none;
}
nav{
  background-color: white;
  margin: 20px;
  height: 40px;

}
nav li{
  float:left;

}
nav li a{
  border-right: 1px solid #78b1eb;
  color:#78b1eb;
  padding: 12px 3.5vw;
  display: block;
  font-size: 16px;}
nav li a:hover{
  background-color: #78d9ff;
  color: white;
}

nav .burger a{
  background-color:#46a1fe;
  color: white;
  padding: 12px 20px;
}

.burger{
  float: right;
  display: none;
}
.burger span{
  background-color: white;
  width: 15px;
  height: 2px;
  display: block;
  margin:2px;
}
.burger a ::before{
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 2px;
  content: '3';
  border-radius: 100%;
  background-color: #46a1fe;
  color:white;
  position: absolute;
  top: 27px;
  right: 10.4vw;
  border: 1px solid white;
}

/*pentru mobil*/
@media screen and (max-width:800px){
  .burger{
    display: block;
  }
  nav li:nth-child(9),
  nav li:nth-child(8),
  nav li:nth-child(7),
  nav li:nth-child(6){
    display: none;
  }
}
