body{
    font-family: 'Nunito', sans-serif;
    color: #444;
}
.container{
width: 80%;
margin: auto;
display: flex;
align-items: center;
}
@media screen and (max-width: 1000px){
    .container{
        display:block;
        width: 90%;
    }
}
h1{
font-size: 54px;
line-height: 0.9em;
}
.text-marker{
    border-bottom: solid 0.25em #3452ff;
    line-height: 0.4em;
    display: inline-block;
}

.border-blue{
    border: solid 1px #3452ff;
}

.form-element input,
.form-element select{
    border: solid 1px #999;
    padding: 10px;
}
form{
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 2%;
}
.form-element input[type="checkbox"]+.fa-star{
    display: none;

}
.form-element input[type="checkbox"]:checked+.fa-star+.fa-star-o{
    display: none;

}
.form-element input[type="checkbox"]:checked+.fa-star{
    display: inline;

}
.form-element input[type="checkbox"]{
    display: none;
}